name: Go-Build
on:
  push:
    branches:
      - "master"
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build
    steps:
      - uses: actions/setup-go@v5.3.0
        with:
          go-version: '1.24.1'
      - uses: actions/checkout@v4.1.7
      - run: go mod download
      - name: Build
        run: go build -v .
