name: golangci-lint
on:
  push:
    branches:
      - master
      - main
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5.0.2
        with:
          go-version: '1.23'
          cache: false
      - uses: actions/checkout@v4.1.7
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          args: --timeout 10m
